
html {
	margin: 0px;
	padding: 0px;
}


body {
	margin: 0px;
	padding: 0px;
	
background: linear-gradient(59deg, rgb(29, 32, 44) 0%, rgb(39, 54, 113) 52%);
}

:root {
	margin: 0px;
	padding: 0px;
}

header {
	position: relative;
	bottom: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	
}

header div a img {
	width: 120px;
	margin-left: 20px;
}


header nav {
	margin-right: 40px;
}

header nav a {
	font-family: 'Roboto Condensed', sans-serif;
	text-decoration: none;
padding-left: 15px;
	padding-right: 15px;
	text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
	border: 3px solid rgba(255, 255, 255, 0);
    color: #f6f6f6;
}


header nav a:hover {
	border-bottom: 3px solid #90be6a;
transition: all 0.3s;
}



canvas {
	width: 100%;
}

.large-header {
	position: relative;
	width: 100%;
margin: 0px;
padding: 0px;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}



#large-header {
	background: rgba(0, 0, 0, 0.656) url('../img/bg3-1.jpg');
	background-blend-mode: darken;
	background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-title {
	font-size: 48px;
	position: absolute;
	margin: 0;
	padding: 0;
	font-weight: 700;
	color: #f9f1e9;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}


.main-title span {
	color: #90be6a;
}

.demo-1 .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

.main-title .thin {
	font-weight: 200;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title {
		font-size: 3em;
	}
}